* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 14px;
  line-height: 21px;
}

.flex-container {
  display: flex;

  &--column {
    flex-direction: column;
  }

  &--row {
    flex-direction: row;
  }
}
